# VScode environment
.dccache
.env

# Terraform and Kubectl 
*.tfvars
!*.auto.tfvars
.terraform
.terraform.lock.hcl
kubectl.exe
kubectl.exe.sha256
.terraform.tfstate.lock.info
terraform.tfstate

# Kubernetes secret
deployment/secret.yaml
manifests/secret.yaml
terraform/terraform.tfstate.backup
manifests/log_secret.yaml
